.header {
    background: #537072;
}
.navbar {
    border: none;
    border-radius: 0px;
}
.navbar-default {
    background-color: #2C4A52;
    border-color: #537072;
}
.navbar-default .navbar-brand {
    color: #F4EBDB;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #8E9B97;
}
.navbar-default .navbar-text {
    color: #F4EBDB;
}
.navbar-default .navbar-nav > li > a {
    color: #F4EBDB;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #8E9B97;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #8E9B97;
    background-color: #537072;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #8E9B97;
    background-color: #537072;
}
.navbar-default .navbar-toggle {
    border-color: #537072;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #537072;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #F4EBDB;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #F4EBDB;
}
.navbar-default .navbar-link {
    color: #F4EBDB;
}
.navbar-default .navbar-link:hover {
    color: #8E9B97;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #F4EBDB;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #8E9B97;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #8E9B97;
        background-color: #537072;
    }
}
.autocomplete-suggestions { border: 1px solid #999; background: #F4EBDB; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #8E9B97; }
.autocomplete-suggestions strong { font-weight: normal; color: #537072; }